<span class="d-none" id="span_icon">
    <a href="#">
      <img src="assets/crown_logo.png" alt="logo floating" class="" />
    </a>
  </span>

  <div
    class="container-full d-flex justify-content-center text-center bg-blue"
  >
    <section class="h-100 p-0" id="section_hero">
      <div class="h-100 w-100 bg-dark hero" id="intro_logo">
        <img
          src="assets/crown_logo_white.png"
          class="img-sm"
          alt="logo RE"
          id="logo_intro"
        />
      </div>
      <!-- <div class="h-100 w-100 bg-light hero d-none" id="intro_1">
        <h1>INTRO #1</h1>
      </div> -->
      <!-- <div class="h-100 w-100 bg-dark hero d-none" id="intro_2">
        <h1>INTRO #2</h1>
      </div> -->
      <!-- <div class="h-100 w-100 bg-light hero d-none" id="intro_3">
        <img
          src="assets/hamburgers/Hamburger-5-azul-claro.png"
          alt="img hamburger-5"
          class="img-5"
        />
      </div> -->

      <div class="p-relative d-flex justify-content-center" id="hero">
        <img
          src="assets/main-logo.png"
          alt="main-logo-royal"
          class="img-hero"
          id="img_hero_1"
        />
        <img src="assets/arroba-clara.png" alt="arroba" class="img-sm" />
        <img
          src="assets/logotipo.png"
          alt="logotipo-molly-burguers"
          class="img-hero"
          id="img_hero_2"
        />
      </div>
    </section>